<!-- views/admin/games.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style/bootstrap.css">
  <title>Admin - games administration page</title>
</head>
<body class="vh-100">
  <header class="bg-secondary d-flex flex-wrap justify-content-center py-2">
    <h2>Games administration panel</h2>
  </header>
  <div class="bg-secondary">
    <nav class="container d-flex flex-row justify-content-between bg-primary shadow px-3 py-3 rounded">
      <form method="GET" action="/users">
        <button class="btn btn-secondary" type="submit">Users</button>
      </form>
      <form method="GET" action="/deliveries">
        <button class="btn btn-secondary" type="submit">Deliveries</button>
      </form>
      <form method="GET" action="/orders">
        <button class="btn btn-secondary" type="submit">Orders</button>
      </form>
      <form method="POST" action="/users/logout">
        <button class="btn btn-secondary" type="submit">Logout</button>
      </form>
    </nav>
    <div class="container vh-100 py-5">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Miniature</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Year</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% games.forEach( game => { %>
            <tr>
              <th scope="col" class="text-center">
                <div>
                  <img style="max-width: 6vh; max-height: 4vh;" src="/uploads/<%= game.miniatureFile %>">
                </div>
              </th>
              <form name="form" method="POST" action="/games/modify/<%= game._id %>">
                <td scope="col"><input class="form-control" name="title" type="text" value="<%= game.title %>"></td>
                <td scope="col"><input class="form-control" name="price" type="number" step="0.01" value="<%= game.price %>"></td>
                <td scope="col"><input class="form-control" name="year" type="number" value="<%= game.year %>"></td>
                <td scope="col"><input class="form-control" name="category" type="text" value="<%= game.category %>"></td>
                <td scope="col"><input class="form-control" name="description" type="text" value="<%= game.description %>"></td>
                <td scope="col"><button class="btn btn-primary" type="submit" name="action" value="update">Update</button></td>
                <td scope="col"><button class="btn btn-danger" type="submit" name="action" value="delete">Delete</button></td>
              </form>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <div class="container">
        <form method="POST" enctype="multipart/form-data" action="/games">
          <div class="row row-cols-2">
            <div class="form-group col align-items-center justify-content-center">
              <div style="width: 50%;">
                <label for="title">Title: </label><br>
                <input class="form-control" type="text" name="title"><br>
                <label for="price">Price: </label><br>
                <input class="form-control" type="number" step="0.01" name="price"><br>
                <label for="category">Category: </label><br>
                <input class="form-control" type="text" name="category"><br>
              </div>
            </div>
            <div class="form-group col align-items-center justify-content-center">
              <div style="width: 50%;">
                <label for="year">Year: </label><br>
                <input class="form-control" type="number" name="year"><br>
                <label for="description">Description: </label><br>
                <input class="form-control" type="text" name="description"><br>
                <label for="miniature">Miniature: </label><br>
                <input class="form-control" type="file" name="miniature">
                <button class="btn btn-primary mt-2" type="submit">Add game</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <footer class="d-flex flex-wrap align-items-center justify-content-center bg-primary shadow py-4 navbar fixed-bottom">
    </footer>
  </div>
</body>
</html>