<!-- views/admin/users.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin - users administraion page</title>
</head>
<body>
  <h2>Users administration panel</h2>
  <form method="POST" action="/users/logout">
    <button type="submit">Logout</button>
  </form>
  <form method="GET" action="/games">
    <button type="submit">Games</button>
  </form>
  <form method="GET" action="/deliveries">
    <button type="submit">Deliveries</button>
  </form>
  <% users.forEach( user => { %>
    <form method="POST" action="/users/admin/<%= user._id %>">
      <%= user.email %> <%= user.name %> <%= user.surname %> <%= user.admin ? "Admin" : "User" %>
      <button type="submit" name="action" value="delete">Delete user</button>
      <button type="submit" name="action" value="admin">Toggle admin rights</button>
      <% if (!user.admin) { %>
        <button type="submit" name="action" value="cart">Show cart</button>
      <% } %>
    </form>
  <% }) %>
</body>
</html>